name: build-push-chocolatey
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '30 5 * * *'
jobs:
  build-package:
    runs-on: windows-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: ${{ github.workspace }}\build-package.ps1 -Push -ApiKey ${{ secrets.CHOCOLATEY_API_KEY }}
